<!DOCTYPE html>
<html>

<head>
    <title>Hello, Sohavni</title>
    <!-- TODO replace with user's actual name -->
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body style="background-color:rgba(128, 125, 125, 0.89);">
    <!-- <p>Hello, Sohavni</p> -->
    <button class="button-85">Hello, Sohavni</button>

    <!--Add buttons to initiate auth sequence and sign out-->
    <button id="authorize_button" onclick="handleAuthClick()">Authorize</button>
    <button id="signout_button" onclick="handleSignoutClick()">Sign Out</button>

    <pre id="content" style="white-space: pre-wrap;"></pre>

    <p>Your top senders with highest number of unread messages: </p>
    {% for i in range(5) %}
        <div>
            {{ top_unread_senders[i] }}
        </div>
    {% endfor %}


    <p>Your 100 most recent Unread emails, sorted by Date: </p>
    {% for i in range(num_ids) %}
    <button class="button button4" id="" location.href="https://mail.google.com/mail/#inbox/{{email_ids[i]}}" >
        <h1> {{ subjects[i] }} </h1>
        </h2> {{ dates[i] }} </h2>
        <p> {{ summaries[i] }} </p>    
        </div>
    </button>
    {% endfor %}
    
    <script type="text/javascript">
        /* exported gapiLoaded */
        /* exported gisLoaded */
        /* exported handleAuthClick */
        /* exported handleSignoutClick */

        // TODO(developer): Set to client ID and API key from the Developer Console
        const CLIENT_ID = '493698416192-i5rf1bik4ti8pq58vepvrbsphie32fph.apps.googleusercontent.com';
        const API_KEY = 'AIzaSyCO-IrNOIP9oT9P2n5p9IOJZF4fGVa3vuY';

        // Discovery doc URL for APIs used by the quickstart
        const DISCOVERY_DOC = 'https://www.googleapis.com/discovery/v1/apis/gmail/v1/rest';

        // Authorization scopes required by the API; multiple scopes can be
        // included, separated by spaces.
        const SCOPES = 'https://www.googleapis.com/auth/gmail.readonly';

        let tokenClient;
        let gapiInited = false;
        let gisInited = false;

        document.getElementById('authorize_button').style.visibility = 'hidden';
        document.getElementById('signout_button').style.visibility = 'hidden';

        /**
         * Callback after api.js is loaded.
         */
        function gapiLoaded() {
            gapi.load('client', initializeGapiClient);
        }

        /**
         * Callback after the API client is loaded. Loads the
         * discovery doc to initialize the API.
         */
        async function initializeGapiClient() {
            await gapi.client.init({
                apiKey: API_KEY,
                discoveryDocs: [DISCOVERY_DOC],
            });
            gapiInited = true;
            maybeEnableButtons();
        }

        /**
         * Callback after Google Identity Services are loaded.
         */
        function gisLoaded() {
            tokenClient = google.accounts.oauth2.initTokenClient({
                client_id: CLIENT_ID,
                scope: SCOPES,
                callback: '', // defined later
            });
            gisInited = true;
            maybeEnableButtons();
        }

        /**
         * Enables user interaction after all libraries are loaded.
         */
        function maybeEnableButtons() {
            if (gapiInited && gisInited) {
                document.getElementById('authorize_button').style.visibility = 'visible';
            }
        }

        /**
         *  Sign in the user upon button click.
         */
        function handleAuthClick() {
            tokenClient.callback = async (resp) => {
                if (resp.error !== undefined) {
                    throw (resp);
                }
                document.getElementById('signout_button').style.visibility = 'visible';
                document.getElementById('authorize_button').innerText = 'Refresh';
                await listLabels();
            };

            if (gapi.client.getToken() === null) {
                // Prompt the user to select a Google Account and ask for consent to share their data
                // when establishing a new session.
                tokenClient.requestAccessToken({ prompt: 'consent' });
            } else {
                // Skip display of account chooser and consent dialog for an existing session.
                tokenClient.requestAccessToken({ prompt: '' });
            }
        }

        /**
         *  Sign out the user upon button click.
         */
        function handleSignoutClick() {
            const token = gapi.client.getToken();
            if (token !== null) {
                google.accounts.oauth2.revoke(token.access_token);
                gapi.client.setToken('');
                document.getElementById('content').innerText = '';
                document.getElementById('authorize_button').innerText = 'Authorize';
                document.getElementById('signout_button').style.visibility = 'hidden';
            }
        }

        // function handleEmailClick(email_id){
        //     location.href = "https://mail.google.com/mail/#inbox/" + email_id;
        //     print(location.href)
        // }

        /**
         * Print all Labels in the authorized user's inbox. If no labels
         * are found an appropriate message is printed.
         */
        // async function listLabels() {
        //     let response;
        //     try {
        //         response = await gapi.client.gmail.users.labels.list({
        //             'userId': 'me',
        //         });
        //     } catch (err) {
        //         document.getElementById('content').innerText = err.message;
        //         return;
        //     }
        //     const labels = response.result.labels;
        //     if (!labels || labels.length == 0) {
        //         document.getElementById('content').innerText = 'No labels found.';
        //         return;
        //     }
        //     // Flatten to string to display
        //     const output = labels.reduce(
        //         (str, label) => `${str}${label.name}\n`,
        //         'Labels:\n');
        //     document.getElementById('content').innerText = output;
        // }

        var canvas = document.getElementById("canvas");
            var ctx = canvas.getContext('2d');

            /**
             * Draws a rounded rectangle using the current state of the canvas. 
             * If you omit the last three params, it will draw a rectangle 
             * outline with a 5 pixel border radius 
             * @param {CanvasRenderingContext2D} ctx
             * @param {Number} x The top left x coordinate
             * @param {Number} y The top left y coordinate 
             * @param {Number} width The width of the rectangle 
             * @param {Number} height The height of the rectangle
             * @param {Number} radius The corner radius. Defaults to 5;
             * @param {Boolean} fill Whether to fill the rectangle. Defaults to false.
             * @param {Boolean} stroke Whether to stroke the rectangle. Defaults to true.
             */
            function roundRect(ctx, x, y, width, height, radius, fill, stroke) {
                if (typeof stroke == "undefined") {
                    stroke = true;
                }
                if (typeof radius === "undefined") {
                    radius = 5;
                }
                ctx.beginPath();
                ctx.moveTo(x + radius, y);
                ctx.lineTo(x + width - radius, y);
                ctx.quadraticCurveTo(x + width, y, x + width, y + radius);
                ctx.lineTo(x + width, y + height - radius);
                ctx.quadraticCurveTo(x + width, y + height, x + width - radius, y + height);
                ctx.lineTo(x + radius, y + height);
                ctx.quadraticCurveTo(x, y + height, x, y + height - radius);
                ctx.lineTo(x, y + radius);
                ctx.quadraticCurveTo(x, y, x + radius, y);
                ctx.closePath();
                if (stroke) {
                    ctx.stroke();
                }
                if (fill) {
                    ctx.fill();
                }
            }
            
            ctx.lineWidth = 4;
            ctx.strokeStyle = "#000000";
            ctx.fillStyle = "#abc";
            roundRect(ctx, 10, 10, 100, 50, 10, true);
            ctx.font = "20px Georgia";
            ctx.textAlign = "center";
            ctx.textBaseline = "middle";
            ctx.fillStyle = "#000000";
            var rectHeight = 50;
            var rectWidth = 100;
            var rectX = 10;
            var rectY = 10;
            ctx.fillText("Attack!", rectX + (rectWidth / 2), rectY + (rectHeight / 2));

    </script>
    <script async defer src="https://apis.google.com/js/api.js" onload="gapiLoaded()"></script>
    <script async defer src="https://accounts.google.com/gsi/client" onload="gisLoaded()"></script>
</body>

</html>